.theme--light.v-select .v-select__selection--comma,
.theme--light.v-input input,
.theme--light.v-input textarea {
  color: $material-font-light-theme;
  font-size: 16px;
}


.instagram {
  color: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%,#d6249f 60%,#285AEB 90%);
}